.container{
    background-color: rgb(225,225,225);
    margin-top: 200px;
    padding: 50px !important;
    border:  2px solid black;
    width: fit-content !important;


}

.btn {
    margin: 10px;
    width: 200px;

}
