body{

    background-image: url("https://www.shutterstock.com/image-photo/compliance-theme-blurred-city-abstract-600nw-1318349732.jpg");
}
.signUpForm{
    display: flex;
    justify-content: center ;
    height: 100vh;
    align-items: center;
}
.form{
    border: 2px solid black;
    padding: 0px 30px;
    background-color:cadetblue;
    padding-bottom: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    
}
input{
    padding: 5px;
    
}
.SignUpBtn{
    display: flex;
    justify-content: center;
}
.signBtn{
    width :150px;
}
li{
    text-decoration: none;
}